{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div id="errors">
    </div>
    <h1>Reset your password</h1>
    <div id="showSuccess" style="display: none">
        <p>Check your email</p>
    </div>
    <div id="showForm">
        <form id="pwdResetForm">
            <label for="email">Email</label>
            <input id="email" type="text" name="email">
            <div>
                <small>
                    Enter your email address and we will send you a
                    link to reset your password.
                </small>
            </div>
            <button class="btn btn-primary">Send password reset email</button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("pwdResetForm").addEventListener("submit", function (e) {
                e.preventDefault();

                const email = document.getElementById("email");
                const xhr = new XMLHttpRequest();

                xhr.open("POST", window.location.href.split('?')[0], true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    email: !!email ? email.value : '',
                }));
                xhr.onreadystatechange = function (oEvent) {
                    if (xhr.readyState === 4) {
                        const errorsDiv = document.getElementById('errors');
                        errorsDiv.innerHTML = '';
                        if (xhr.status !== 200) {
                            const error = JSON.parse(xhr.response);
                            const detais = [];
                            if (error['fields']) {
                                const entries = Object.entries(error['fields']);
                                for (let e = 0, l = entries.length; e < l; e++) {
                                    detais.push('<div class="alert alert-danger" role="alert">' + entries[e][0] + ': ' + entries[e][1] + '</div>');
                                }
                            }
                            if (detais.length > 0) {
                                errorsDiv.innerHTML = detais.join('');
                            } else {
                                errorsDiv.innerHTML += '<div class="alert alert-danger" role="alert">' + error.error + '</div>';
                            }
                        } else {
                            document.getElementById('showSuccess').style.display='block';
                            document.getElementById('showForm').style.display='none';
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
