{% extends 'base.html.twig' %}

{% block title %}New password{% endblock %}

{% block body %}
    <div id="errors">
    </div>
    <h1>Insert the new password</h1>

    {% if error is defined %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% else %}
        <div id="showSuccess" style="display: none">
            <p>Success!</p>
        </div>
        <div id="showForm">
            <form id="pwdResetForm">
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
                <label for="password2">Repeat Password</label>
                <input id="password2" type="password" name="password2">
                <button class="btn btn-primary">Change password</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("pwdResetForm").addEventListener("submit", function (e) {
                e.preventDefault();

                const password = document.getElementById("password");
                const password2 = document.getElementById("password2");
                const errorsDiv = document.getElementById('errors');

                errorsDiv.innerHTML = '';

                if (!password || !password2 || password.value !== password2.value) {
                    return errorsDiv.innerHTML = '<div class="alert alert-danger" role="alert">Password don\'t match</div>';
                }

                const xhr = new XMLHttpRequest();

                xhr.open("POST", window.location.href, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    password: password.value,
                }));
                xhr.onreadystatechange = function (oEvent) {
                    if (xhr.readyState === 4) {
                        if (xhr.status !== 200) {
                            const error = JSON.parse(xhr.response);
                            const details = [];
                            if (error['fields']) {
                                const entries = Object.entries(error['fields']);
                                for (let e = 0, l = entries.length; e < l; e++) {
                                    detais.push('<div class="alert alert-danger" role="alert">' + entries[e][0] + ': ' + entries[e][1] + '</div>');
                                }
                            }
                            if (details.length > 0) {
                                errorsDiv.innerHTML = details.join('');
                            } else {
                                errorsDiv.innerHTML += '<div class="alert alert-danger" role="alert">' + error.error + '</div>';
                            }
                        } else {
                            document.getElementById('showSuccess').style.display = 'block';
                            document.getElementById('showForm').style.display = 'none';
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
